body{
	margin: 0;
	padding: 0;
	background-color: darkgray;
	background-image: url(Obrazy/Baner1.jpg);
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
 	background-position: top center;
}
h1{
	font-size: 54px;
	color: black;
	font-weight: bold;
	color: white;
}
p{
	font-size: 25px;
	color: white;
}
hr{
	margin-right: auto;
	margin-left: auto;
	width: 20vw;
	border-top: 3px solid white;
}
.a{
	margin: 0;
	padding: 0;
  	width: 100vw;
 	height: 100vh;
  	position: absolute;
}
.b{
	position: absolute;
	margin-top: 15vh;
	width: auto;
	margin-right: auto;
	margin-left: 32vw;
	text-align: center;
}
.c{
	height: 10vh;
	width: 100vw;
	background-color: #35363a;
}
.d{
	width: 10vh;
	height: 10vh;
	background-color: #202023;
	color: white;
	font-size: 9vh;
	text-align: center;
}
.h:hover .f{
	display: block;
}
.e{
	position: absolute;
	margin-top: 45vh;
	margin-left: 20vw;
	margin-right: 20vw;

}
.f{
	display: none;
	position: relative;
	float: left;
	z-index: 1;
	height: 135px;
	width: 150px;
	background-color: #202023;
	color: white;
}
.g{
	height: 45px;
	width: 150px;
	background-color: #202023;
	color: white;
	font-size: 35px;
	font: FreeMono;
	font-family: monospace;
	text-align: center;
	border: 1px solid black;
}
.h{
	color: white;
}
@media only screen and  (max-width: 1050px){
	.e{
		margin-right: 5vw;
		margin-left: 5vw;
	}
	h1{
		font-size: 5vw;
	}
}
@media only screen and  (max-width: 700px){
	h1{
		font-size: 8vw;
	}
	.b{
		margin-top: 3vh;
		margin-left: 16vw;
		margin-right: auto;
	}
	p{
		font-size: 20px;
	}
	.e{
		margin-top: 40vw;
	}
}
