body{
	margin: 0;
	padding: 0;
	background-color: darkgray;
}
h1{
	font-size: 54px;
	color: black;
	font-weight: bold;
	color: white;
}
p{
	font-size: 14px;
	color: white;
}
hr{
	margin-right: auto;
	margin-left: auto;
	width: 20vw;
	border-top: 3px solid white;
}
.a{
	margin: 0;
	padding: 0;
	background: url(Obrazy/Baner1.jpg);
 	background-repeat: no-repeat;
 	background-position: top center;
  	width: 100vw;
 	height: 100vh;
  	position: absolute;
}
.b{
	margin-top: 30vh;
	margin-bottom: auto;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.c{
	height: 10vh;
	width: 100vw;
	background-color: #35363a;
}
@media only screen and  (max-width: 700px){
	h1{
		font-size: 8vw;
	}
	p{

	}
}
